---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/archive.jpg);">
  <section>
    <div class="container">
      <h1>ARCHIVE</h1>
    </div>
  </section>
</div>

<article class="container">
  <section class="index">
    <h2>Articles<h2>
  </section>

  {% for post in site.posts %}
  {% unless post.draft or post.path contains '_posts/archive' %}
  <section class="index">
    <div>
      <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
      <div class="meta">
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
    </div>
  </section>
  {% endunless %}
  {% endfor %}

  <section class="index">
    <h3>Ol' and unmaintained<h3>
  </section>

  {% for post in site.posts %}
  {% if  post.path contains '_posts/archive' %}
  <section class="index">
    <div>
      <h5 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h5>
      <div class="meta">
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
    </div>
  </section>
  {% endif %}
  {% endfor %}
</article>
