{{ partial "header.html" . }}
<!--========== BREADCRUMBS V5 ==========-->
<section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
  <div class="container">
    <h2 class="breadcrumbs-v5-title">Luca Guidi</h2>
    <span class="breadcrumbs-v5-subtitle">Blog</span>
  </div>
</section>
<div class="content-sm container">
  <div class="heading-v1 text-center">
    <h2 class="heading-v1-title">{{ .Title }}</h2>
  </div>
</div>
<!--========== END BREADCRUMBS V5 ==========-->
{{ partial "footer.html" . }}
