{{ partial "header.html" . }}
<!--========== PROMO BLOCK V5 ==========-->
<div class="promo-block-v5">
  <div class="content-md container">
    <div class="margin-b-70">
      <h1 class="promo-block-v5-title wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".1s"><span class="fweight-500">Luca Guidi</span></h1>
      <p class="promo-block-v5-subtitle wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".5s">Family man, software engineer, Open Source indie developer, speaker.<br>Author of <a href="http://hanamirb.org">Hanami</a>, a full stack web framework for Ruby.</p>
    </div>

    <div class="promo-block-v5-form">
      <h2 class="promo-block-v5-form-title">Get updates about my software journey</h2>
      <!-- Signup Form -->
      <form class="signup-form comment-form-error" action="//lucaguidi.us11.list-manage.com/subscribe/post?u=b48251cecfc2efe285b419263&amp;id=b92daedb57" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
        <div class="row space-row-5 margin-b-20">
          <div class="col-sm-10 sm-margin-b-10">
            <input class="form-control promo-block-v5-form-input radius-3" type="email" id="email" placeholder="Email" name="EMAIL"/>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_b48251cecfc2efe285b419263_b92daedb57" value="" /></div>
          <div class="col-sm-2">
            <button type="submit" class="btn-base-bg btn-base-md btn-block radius-3">Subscribe</button>
          </div>
        </div>
        <!--// end row -->
        <p class="promo-block-v5-text">Only actual information and no spamming!</a></p>
      </form>
    </div>
  </div>
</div>
<!--========== END PROMO BLOCK V5 ==========-->

<!--========== FEATURED TALK ==========-->
<div class="content-sm container">
  <div class="heading-v1 text-center">
    <h2 class="heading-v1-title">Featured Talk</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 sm-margin-b-30">
      <!-- Youtube Video -->
      <div class="responsive-video">
        <iframe src="https://www.youtube.com/embed/SRQVhHzW-Eo?rel=0&amp;controls=0&amp;showinfo=0" style="width: 100%; height: 100%; border: none;" allowfullscreen=""></iframe>
      </div>
      <!-- End Youtube Video -->
    </div>
    <div class="col-sm-6 sm-margin-b-30">
      <h2>Functional Web with Hanami</h1>
      <h3><a href="https://railsclub.ru/en/main" class="featured-conf">RailsClub 2017 - Moscow</a></h3>
      <p>Web applications are complex. MVC helps you to structure them, but you're still you're struggling with tangled dependencies, difficult reusability, byzantine patterns, hard to maintain model domains? What if you can have small, simple, and deterministic components that can be easily used (and reused) in your web apps? Let's see how functions, FP/OOP blending, data transformations, immutability, Dependency Injection can help to solve these problems. With this talk you'll learn how Hanami makes these principle easy to use, and what's the future of this uprising Ruby web framework.</p>
    </div>
  </div>
</div>
<div class="content-xs container">
</div>
<!--========== END FEATURED TALK ==========-->

<!--========== SOCIAL MEDIA ==========-->

<div class="full-width-container social-media-cta">
<div class="content container">
  <div class="row">
    <div class="col-md-3">
      <span class="theme-icons-wrap">
        <a class="animate-icon-wrap animate-icon-lg" href="https://facebook.com/{{ .Site.Params.Fbpagename }}">
          <i class="animate-icon-item theme-icons theme-icons-white-brd theme-icons-xl radius-circle fa fa-facebook"></i>
        </a>
      </span>
      <br>
      <strong>Discuss about software and current projects</strong>
    </div>
    <div class="col-md-3">
      <span class="theme-icons-wrap">
        <a class="animate-icon-wrap animate-icon-lg" href="https://twitter.com/{{ .Site.Params.Twitter }}">
          <i class="animate-icon-item theme-icons theme-icons-white-brd theme-icons-xl radius-circle fa fa-twitter"></i>
        </a>
      </span>
      <br>
      <strong>Short, honest, and direct way to ping me</strong>
    </div>
    <div class="col-md-3">
      <span class="theme-icons-wrap">
        <a class="animate-icon-wrap animate-icon-lg" href="https://www.snapchat.com/add/{{ .Site.Params.Snapchat }}">
          <i class="animate-icon-item theme-icons theme-icons-white-brd theme-icons-xl radius-circle fa fa-snapchat-ghost"></i>
        </a>
      </span>
      <br>
      <strong>Daily unfiltered updates about Open Source and Hanami</strong>
    </div>
    <div class="col-md-3">
      <span class="theme-icons-wrap">
        <a class="animate-icon-wrap animate-icon-lg" href="https://github.com/{{ .Site.Params.Github }}">
          <i class="animate-icon-item theme-icons theme-icons-white-brd theme-icons-xl radius-circle fa fa-github"></i>
        </a>
      </span>
      <br>
      <strong>Home to my Open Source code</strong>
    </div>
  </div>
</div>
</div>
<!--========== END SOCIAL MEDIA ==========-->

<!--========== FEATURED ARTICLE ==========-->
<div class="full-width-container">
  <!-- Equal Height Interactive Banner v1 -->
  {{ range first 1 .Site.Pages }}
  <div class="row no-space-row equal-height-ib i-banner-v1">
    <div class="col-sm-6 equal-height-ib-one">
      <!-- Background Image -->
      <div class="equal-height-ib-bg-img bg-position-center-top" style="background-image: url({{ .Params.Thumbnail }});">
        <img class="img-responsive" src="{{ .Params.Thumbnail }}" alt="{{ .Title }}" style="display: none;">
        <div class="i-banner-v1-heading sm-padding-50">
          <a href="{{ .Permalink }}"><h4 class="i-banner-v1-member">{{ .Title }}</h4></a>
          <span class="i-banner-v1-member-position">by {{ .Site.Params.Author }} on {{ .Date.Format "Jan 2, 2006" }} &mdash; {{ .ReadingTime }} min read</span>
        </div>
      </div>
      <!-- End Background Image -->
    </div>
    <div class="col-sm-6 equal-height-ib-two equal-height-ib-sm-height-auto">
      <!-- Vertical Center Align -->
      <div class="equal-height-ib-ver-center-align padding-70 md-padding-40 sm-padding-50">
        <div class="margin-b-30">
          <p class="i-banner-v1-quote"></p>
          <p class="i-banner-v1-text">{{ .Description }}<br><a href="{{ .Permalink }}">Read more</a></p>
        </div>

        <!-- Animate Theme Icons -->
        <ul class="list-inline ul-li-lr-2">
          <li class="animate-theme-icons">
            <a href="http://www.facebook.com/sharer.php?u={{.Permalink}}&title={{.Title}}" class="animate-theme-icons-body animate-theme-icons-dark-bg theme-icons-md radius-3">
              <i class="animate-theme-icons-element fa fa-facebook"></i>
            </a>
          </li>
          <li class="animate-theme-icons">
            <a href="http://twitter.com/intent/tweet?status={{.Title}}%20{{.Permalink}}%20via%20@jodosha" class="animate-theme-icons-body animate-theme-icons-dark-bg theme-icons-md radius-3">
              <i class="animate-theme-icons-element fa fa-twitter"></i>
            </a>
          </li>
          <li class="animate-theme-icons">
            <a href="http://www.reddit.com/submit?url={{.Permalink}}&title={{.Title}}" class="animate-theme-icons-body animate-theme-icons-dark-bg theme-icons-md radius-3">
              <i class="animate-theme-icons-element fa fa-reddit-alien"></i>
            </a>
          </li>
          <li class="animate-theme-icons">
            <a href="http://news.ycombinator.com/submitlink?u={{.Permalink}}&t={{.Title}}" class="animate-theme-icons-body animate-theme-icons-dark-bg theme-icons-md radius-3">
              <i class="animate-theme-icons-element fa fa-hacker-news"></i>
            </a>
          </li>
        </ul>
        <!-- End Animate Theme Icons -->
      </div>
      <!-- End Vertical Center Align -->
    </div>
  </div>
  {{ end }}
  <!-- End Equal Height Interactive Banner v1 -->
</div>
<!--========== END FEATURED TALK ==========-->
{{ partial "footer.html" . }}
