<p>To stay updated with the latest releases, to receive code examples, implementation details and announcements, please consider to subscribe to the Hanami <a href="http://hanamirb.org/mailing-list" target="_blank" title="Hanami mailing list">mailing list</a>.</p>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" />
<div id="mc_embed_signup">
  <form action="http://hanamirb.us3.list-manage.com/subscribe/post?u=dcbeefa4ba1ea9ae043857005&amp;id=fb3873a90f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
    <label for="mce-EMAIL">Subscribe to the Hanami mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="required" />
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_dcbeefa4ba1ea9ae043857005_fb3873a90f" value="" /></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
  </form>
</div>
<!--End mc_embed_signup-->
<br />
