{{ define "main" }}
<header class="main-header" style="background-image: url({{ .Site.Params.cover | absURL }})">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}
    
    {{ partial "pagination.html" . }}
</main>
{{ end }}