.content {
  width: 980px;
  margin: 80px auto;
}
ul.timeline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-right: 7px solid $timeline;
  width: 50%;
}
ul.timeline li {
  margin: 40px 0;
  display: block;
  position: relative;
}
ul.timeline li span {
  position: absolute;
  top: calc(50% - 10px);
  font-weight: bold;
}
ul.timeline li p {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1.4em;
  text-align: center;
  line-height: .9;
  background: $event;
}
ul.timeline li span {
  color: $text;
}
ul.timeline li:nth-child(odd) p {
  color: $text;
  margin: 1em 14px;
}
ul.timeline li:nth-child(odd) p:after {
  width: 12px;
  content: '';
  position: absolute;
  display: block;
  border-width: 22px 0 22px 16px;
  border-style: solid;
  border-color: transparent $event;
  right: 0;
  top: 50%;
  top: calc(50% - 22px);
}
ul.timeline li:nth-child(odd) span {
  left: 100%;
  margin-left: 20px;
  white-space: nowrap;
}
ul.timeline li:nth-child(odd):after {
  content: "";
  background: #74c53a;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  position: absolute;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50 spx;
  float: left;
  top: 50%;
  top: calc(50% - 8px);
  right: -9px;
  background-color: $event_date;
}
ul.timeline li:nth-child(even) {
  left: 100%;
  margin-left: 6px;
}
ul.timeline li:nth-child(even) p {
  border: 1px solid $event;
  margin: 1em 28px;
}
ul.timeline li:nth-child(even) p:after {
  width: 0;
  content: '';
  position: absolute;
  display: block;
  border-width: 22px 16px 22px 0;
  border-style: solid;
  border-color: transparent $event;
  left: 13px;
  top: 50%;
  top: calc(50% - 22px);
}
ul.timeline li:nth-child(even) p:before {
  width: 0;
  content: '';
  position: absolute;
  display: block;
  border-width: 22px 16px 22px 0;
  border-style: solid;
  border-color: transparent $event;
  left: 12px;
  top: 50%;
  top: calc(50% - 22px);
}
ul.timeline li:nth-child(even) span {
  right: 100%;
  margin-right: 20px;
  white-space: nowrap;
}
ul.timeline li:nth-child(even):before {
  content: "";
  background: $event_date;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  position: absolute;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50 spx;
  float: right;
  top: calc(50% - 8px);
  left: -8px;
}

ul.timeline li.relevant:after {
  background-color: $relevant;
}
ul.timeline li.relevant p {
  background: $relevant;
  color: $relevant_text;
}
ul.timeline li.relevant p:after {
  border-color: transparent $relevant;
}
ul.timeline li.relevant span {
  color: $relevant;
}
ul.timeline li.relevant p a {
  color: $relevant_link;
}
ul.timeline li.relevant p a:hover,
ul.timeline li.relevant p a:active {
  color: $text;
}
