/* CONFIGURATION */

/* Bodytext font */
$font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #2c3e50;
$textmuted: #95a5a6;
$accent: #27ae60;

/* Timeline colors */
$timeline: #f1c40f;
$event: #ecf0f1;
$event_date: #e67e22;
$relevant: #e74c3c;
$relevant_text: #ecf0f1;
$relevant_link: #f1c40f;

blockquote:before,
blockquote:after {
  content: none;
}

/* Customizations */
.about blockquote {
  text-align: center;
  font-style: italic;
}

.about blockquote:first-child {
  font-size: 1.8em;
  font-weight: 900;
}

/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "mailinglist";
@import "icons";
@import "syntax";
@import "timeline";
@import "responsive";
