<!doctype html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta name="description" content="Luca Guidi website">
    <meta name="keywords" content="luca,guidi,luca guidi,programmer,developer,rome,italy,ruby,javascript,oop,tdd,bdd,unix,open source">
    <meta name="author" content="Luca Guidi">

    <!-- title -->
    <title>Luca Guidi - {{ page.title }}</title>

    <!-- atom -->
    <link href="http://feeds.feedburner.com/LucaGuidi" rel="alternate" title="Luca Guidi" type="application/atom+xml" />

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>

    <!--[if lte IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/selectivizr-min.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/github.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="/js/google-code-prettify/prettify.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/uniform.default.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css">

    <!-- scripts -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.min.js"><\/script>')</script>
  </head>
  <body>
    <div id="page" class="hfeed site">
      <!-- .site-header -->
      <header class="site-header wrapper" role="banner">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="https://github.com/jodosha" target="_blank">Code</a></li>
          <li><a href="http://theplayli.st" target="_blank">Music</a></li>
          </li>
        </ul>
      </nav>
      <!-- #site-navigation -->
      </header>
      <!-- /site-header -->

      <!-- #main -->
      <section id="main" class="middle wrapper">
        <div class="row row-fluid">
          <!-- #primary -->
          <div id="primary" class="site-content">
            <!-- #content -->
            <div id="content" role="main">
              <div id="sidebar" class="span2 offset1">
                <div class="row">
                  <div class="span7 offset5">
                    <span id="avatar-container">
                      <img src="/images/jodosha.jpg" width="128px" height="128px" alt="Luca Guidi" />
                    </span>
                  </div>
                </div>
                <div>
                  <h1>Luca Guidi</h1>
                  <p>Developer, music connisseur and avid tea lover. I work at <a href="https://twitter.com/litmusapp" target="_blank" title="Litmus on Twitter">@LitmusApp</a>.</p>
                </div>
              </div>
              <div class="span9 readable-content">
                {{ content }}
              </div>
              <!-- Page Content -->
            </div>
            <!-- /content -->
          </div>
          <!-- /primary -->
        </div>
      </section>
      <!-- /main -->

      <!-- .site-footer -->
      <footer class="site-footer wrapper" role="contentinfo"> 
        <div class="row">
          <div class="site-info">&copy; {{ site.time | date: "%Y" }} LG &dash; 
            <a href="http://feeds.feedburner.com/LucaGuidi" target="_blank">Feed</a>
          </div>
        </div>
      </footer>
      <!-- .site-footer -->
    </div>
    <!-- /page -->

    <!-- scripts -->
    <script src="/js/detectmobilebrowser.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/jquery.imagesloaded.min.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <!-- <script src="/js/google-code-prettify/prettify.js"></script> -->
    <script src="/js/jquery.uniform.min.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-235843-4']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>
